.search-box{
    width: 350px;
}

@media (max-width: 600px){
    .btn{
        display: none;
    }
    .search-box{
        width: 350px;
    }
}

@media (max-width: 400px) {
    .search-box{
        width: 500px;
    }
}